<h1>Config</h1>
<form action="/config-event" method="post">
    <input type="text" name="interval" placeholder="Email" required> 
    <input type="text" name="CSS_selector" placeholder="Uporabniško ime" required>
    <input type="submit" value="config">
</form>